* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Tahoma, sans-serif;
}

body {
  font-size: 14px;
  background-color: rgb(255, 234, 237);
}
.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 520px;
  background-color: lavenderblush;
  box-shadow: 0 2px 4px rgb(225, 195, 200);
  border-radius: 20px;
}
h1 {
  text-align: center;
}
.question {
  font-weight: bold;
  margin-bottom: 10px;
}
.options {
  margin-bottom: 20px;
}
.option {
  display: block;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightpink;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.button:hover {
  background-color: rgb(252, 151, 166);
}
.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.hide {
  display: none;
}
